body {
 font-family: "EB Garamond", serif;;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
}

/* hero section*/

.main-container {
  width: 100%;
  height: 600px;
  background-color: lightgrey;
  background-image: url('../assets/profilepic2.png'), url(../assets/Background.jpg);
  background-size: 50vh auto, cover;
  background-repeat: no-repeat;
  background-position: bottom center, center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}



@media (max-width: 568px) {
  .main-container .main-quotes p {
    font-size: 14px;
  }
}

.main-container .main-intro {
  position: relative;
  right: 7vh;
}
.main-container .main-quotes {
  position: relative;
  left: 10vh;
}

.main-container .main-quotes .p {
  font-size: 20px;
}

/* content section*/

.content-container {
  width: 100%;
  background-color: #e3d0c8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}


.content-section {
  width: 100%;
}

  .fa-solid {
      font-size: 72px; 
      color: #F45B69;
      cursor: pointer;
    }
    
@media (max-width: 768px) {
  .content-section {
    flex-direction: column;
  }
}

@media (min-width: 568px) {
  .video {
    width: 100%; 
  }
}

/* accordian section*/

.accordion-container {
  background-color: #a0a1b3;
  text-align: center;
  color: black;
  height: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.accordian{
  margin: 60px auto;
  width: 800px;
  color: black;
}

.accordian li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  transition: background-color 0.5s, border-color 0.5s;
}

.accordian li:hover {
  background-color: #e3d0c8;
}

.accordian li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .accordian {
    width: 50%;
  }
}

label::before{
content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"]{
display: none;
}

.accordian .content {
  color: black;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  cursor: pointer;
  transition: max-height 0.5s, padding 0.5s;
}

.accordian input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordian input[type="radio"]:checked + label::before{
  content: '-';
}

/* footer section*/

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
}

.footer-content {
  width: 50%;
  height: 50%;
  position: relative;
  display: flex;
    } 

    .business-card-content img {
      width: 60%;
      height: 50%;
      display: flex;
        }

.links p {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.links .privacy {
  font-size: 24px; 
  color: black;
  cursor: pointer;
  margin: 80px 60px;
}

.links .terms {
  font-size: 24px; 
  color: black;
  cursor: pointer;
  margin: 80px 60px;
}

.links .accessibility {
  font-size: 24px; 
  color: black;
  cursor: pointer;
  margin: 80px 60px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}

.business-card-content h1 {
  color: #F45B69;
  margin-bottom: 80px;
  text-align: left;
}

.business-card-content footer {
  margin-top: 60px;
  text-align: left;
}


@media screen and (max-width: 600px) {
  iframe {
    width: 80%;
  }
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: left; 
}


nav {
      
  background-color: black;
  height: 30px;
  width: 100px;
  display: block;
  margin: 0 5vh;
  padding: 1.5vh;
  border-radius: 100px;
  text-align: center;
}

nav a {
 color: white;
  padding: 1em;
  text-align: center;
}