body {
 font-family: "EB Garamond", serif;;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
}

.main-container {
  width: 100%;
  height: 600px;
  background-color: lightgrey;
  background-image: url(/assets/profilepic2.png), url(/assets/Background.jpg);
  background-size: 50vh auto, cover;
  background-repeat: no-repeat;
  background-position: bottom center, center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}


@media (max-width: 568px) {
  .main-container .main-quotes p {
    font-size: 14px;
  }
}

.main-container .main-intro {
  position: relative;
  right: 7vh;
}
.main-container .main-quotes {
  position: relative;
  left: 10vh;
}

.content-container {
  width: 100%;
  background-color: #e3d0c8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.content-section {
  width: 100%;
}

.card-content h3 {
font-weight: 700;
font-size: 36px;
}

.card-content h4 {
  font-weight: 500;
  font-size: 24px;
  }

  .fa-solid {
      font-size: 72px; 
      color: #F45B69;
      cursor: pointer;
    }
    
@media (max-width: 768px) {
  .content-section {
    flex-direction: column;
  }
}

@media (min-width: 568px) {
  .video {
    width: 100%; 
  }
}

.header-container {
  background-color: silver
}

.header-container h1 {
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video iframe {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.accordion-container {
  background-color: #a0a1b3;
  text-align: center;
  color: black;
  height: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.accordian{
  margin: 60px auto;
  width: 600px;
  color: black;
}

.accordian li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
}

.accordian li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .accordian {
    width: 50%;
  }
}

label::before{
content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"]{
display: none;
}

.accordian .content {
  color: black;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  cursor: pointer;
  transition: max-height 0.5s, padding 0.5s;
}

.accordian input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordian input[type="radio"]:checked + label::before{
  content: '-';
}

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.footer-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
    } 

    .business-card-content {
      width: 40%;
      height: 50vh;
      display: flex;
        }



@media screen and (max-width: 600px) {
  iframe {
    width: 80%;
  }
}

.links p {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.links .privacy {
  font-size: 24px; 
  color: black;
  cursor: pointer;
  margin: 80px 60px;
}

.links .terms {
  font-size: 24px; 
  color: black;
  cursor: pointer;
  margin: 80px 60px;
}

.links .accessibility {
  font-size: 24px; 
  color: black;
  cursor: pointer;
  margin: 80px 60px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}


.business-card-content-image {
  width: 50%;  
  max-width: 100%; 
}

.business-card-content h1 {
  color: pink;
  margin-bottom: 80px;
  text-align: left;
}

.business-card-content footer {
  margin-top: 60px;
  text-align: left;
}


@media screen and (max-width: 600px) {
  iframe {
    width: 80%;
  }
}

footer {
  text-align: left;
  margin: 20px;
}
